<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
    }
    h2, h3 {
        color: #333;
    }
    img {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        height: auto;
    }
    ol {
        margin-bottom: 20px;
    }
    .border {
        display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border: 2px solid rgb(170, 192, 255);
    border-radius: 45px;
    width: 350px;
    display: inline-block;
    background-color: #fff;
    text-align: center;
    }

    .border:hover {
    background-color: rgb(170, 192, 255);
    border: #fff;
}

.border a {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    color: #000;
    text-decoration: none;
    font-weight: 650;
}

    </style>
<title>Теория</title>
</head>
<body>
<h2>ОСНОВНЫЕ ПОНЯТИЯ ГРАФОВЫХ СТРУКТУР ДАННЫХ</h2>
        <h3>Определение</h3>
            <p>
                <b>Граф</b> - математический объект, который изображает отношения между сущностями. 
                Граф состоит из вершин (объектов) и рёбер (связей). 
                С помощью графов можно представить разных ситуации: например, пользователей соц. сети, которые находятся друг у друга в друзьях, клиентов банка, которые переводят друг другу денежные средства, географические объекты и пути между ними.
                Графы могут быть <b>направленными</b>: в этом случае ребра обозначаются стрелками, идущими от одной вершины к другой, и называются дугами. 
                Примеры направленных графов - звонки пользователей друг другу или банковские переводы.
            </p>
            <p> Рёбрам графа могут быть присвоены значения - <b>веса</b>. Веса характеризуют силу связей между вершинами. 
                Как пример, это может быть количество звонков, сумма денежного перевода, расстояние между городами. 
                Если у рёбер графа нет весов, то считается, что все веса равны между собой.</p>
            <p> Граф называется <b>циклическим</b>, если в графе присутствует последовательность рёбер, которая начинается и заканчивается в одной вершине.
                Цикл необязательно должен включать в себя все вершины.</p>
            <p> И наоборот, существуют <b>ациклические графы</b>, не содержащие замкнутых последовательностей рёбер. 
                Их подвид, направленные ациклические графы, применяются для построения древовидных структур и используются во множестве сфер, включая биологию (эволюция), социологию. Другой распространенный пример - графы вычислений (Dask, Airflow), которые описывают набор зависящих друг от друга операций, выполняемых последовательно или параллельно.</p>
        <h3>Ребра</h3>
            <p>
                <b>Граф</b> — это геометрическая фигура, которая состоит из точек и линий, которые их соединяют. <br>
                <b>Точки</b> называют вершинами графа, а линии — ребрами. <br>
                Два ребра называются <b>смежными</b>, если у них есть общая вершина. <br>
                Два ребра называются <b>кратными</b>, если они соединяют одну и ту же пару вершин. <br>
                Ребро называется <b>петлей</b>, если его концы совпадают. <br>
                <b>Степенью</b> вершины называют количество ребер, для которых она является концевой (при этом петли считают дважды). <br>
                Вершина называется <b>изолированной</b>, если она не является концом ни для одного ребра. <br>
                Вершина называется <b>висячей</b>, если из неё выходит ровно одно ребро. <br>
                Граф без кратных ребер и петель называется <b>обыкновенным</b>.

            </p>
<h2>МЕТОДЫ ПРЕДСТАВЛЕНИЯ ГРАФОВ В КОМПЬЮТЕРНОМ КОДЕ</h2>
        <h3>Основные методы представления</h3>
            <p>Способы представления граф</p>
            <p>Граф может быть представлен (сохранен) несколькими способами:</p>
            <p>
                <ol>
                    <li>матрица смежности;</li>
                    <li>матрица инцидентности;</li>
                    <li>список смежности (инцидентности);</li>
                    <li>список ребер.</li>
                </ol>
            </p>
            <p>Использование двух первых методов предполагает хранение графа в виде двумерного массива (матрицы). 
                Размер массива зависит от количества вершин и/или ребер в конкретном графе.</p>
        <h3>Матрица смежности графа</h3>
        <p>
            <b>Матрица смежности</b> графа — это квадратная матрица, в которой каждый элемент принимает одно из двух значений: 0 или 1. <br>
            Число строк матрицы смежности равно числу столбцов и соответствует количеству вершин графа. <br>
            0 – соответствует отсутствию ребра, <br>
            1 – соответствует наличию ребра.
        </p>
        <p><img src="{{url_for('static', filename='1.jpg')}}" alt="Матрица смежности графа" width="1000" height="500"></p>
        
        <h3>Матрица смежности графа</h3>
        <p>
            <b>Матрица инцидентности</b> графа — это матрица, количество строк в которой соответствует числу вершин, а количество столбцов – числу рёбер. В ней указываются связи между инцидентными элементами графа (ребро(дуга) и вершина). <br>
            В <b>неориентированном</b> графе если вершина инцидентна ребру, то соответствующий элемент равен 1, в противном случае элемент равен 0. <br>
            В <b>ориентированном</b> графе если ребро выходит из вершины, то соответствующий элемент равен 1, если ребро входит в вершину, то соответствующий элемент равен -1, если ребро отсутствует, то элемент равен 0. <br>
            Матрица инцидентности для своего представления требует нумерации рёбер, что не всегда удобно.
            
        </p>
        <p><img src="{{url_for('static', filename='2.jpg')}}" alt="Матрица инцидентности графа" width="400" height="200"></p>

        <h3>Список смежности (инцидентности)</h3>
        <p>
            Если количество ребер графа по сравнению с количеством вершин невелико, то значения большинства элементов матрицы смежности будут равны 0. 
            При этом использование данного метода нецелесообразно. Для подобных графов имеются более оптимальные способы их представления. <br>
            По отношению к памяти списки смежности менее требовательны, чем матрицы смежности. 
            Такой список можно представить в виде таблицы, столбцов в которой – 2, а строк — не больше, чем вершин в графе. <br>
            В каждой строке в первом столбце указана вершина выхода, а во втором столбце – список вершин, в которые входят ребра из текущей вершины.
        </p>
        <p><img src="{{url_for('static', filename='3.jpg')}}" alt="Список смежности (инцидентности)" width="400" height="200"></p>
        <p>Преимущества списка смежности:</p>
            <p>
                <ol>
                    <li>Рациональное использование памяти.</li>
                    <li>Позволяет быстро перебирать соседей вершины.</li>
                    <li>Позволяет проверять наличие ребра и удалять его.</li>
                </ol>
            </p>
        <p>Недостатки списка смежности:</p>
            <p>
                <ol>
                    <li>При работе с насыщенными графами (с большим количеством рёбер скорости может не хватать).</li>
                    <li>Нет быстрого способа проверить, существует ли ребро между двумя вершинами.</li>
                    <li>Количество вершин графа должно быть известно заранее.</li>
                    <li>Для взвешенных графов приходится хранить список, элементы которого должны содержать два значащих поля, что усложняет код: номер вершины, с которой соединяется текущая и вес ребра.</li>
                </ol>
            </p>
            <h3>Список рёбер</h3>
        <p>
            В списке рёбер в каждой строке записываются две смежные вершины и вес соединяющего их ребра (для взвешенного графа). <br>
            Количество строк в списке ребер всегда должно быть равно величине, получающейся в результате сложения ориентированных рёбер с удвоенным количеством неориентированных рёбер
        </p>
        <p><img src="{{url_for('static', filename='4.jpg')}}" alt="Список рёбер" width="400" height="200"></p>
        <p>Какой способ представления графа лучше? Ответ зависит от отношения между числом вершин и числом рёбер. 
            Число ребер может быть довольно малым (такого же порядка, как и количество вершин) или довольно большим (если граф является полным). 
            Графы с большим числом рёбер называют плотными, с малым — разреженными. 
            Плотные графы удобнее хранить в виде матрицы смежности, разреженные — в виде списка смежности.</p>
            <div align="center">
                <span class="border"><a href="/">Вернуться на главную страницу</a></span>
                </div>
</body>
</html>